<div class="card text-white bg-dark" >
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs text-white bg-gray">
      <li class="nav-item">
        <a class="nav-link" href="#">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signup">sign up</a>
        </li>


      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

      </ul>
  </div>
<!-- <div>
<h1>
  {{ title }}
</h1>
</div> -->
</div>
<div class ="background">




<router-outlet></router-outlet>
</div>
<div>
</div>
<ul>
  <li>
    <h4>Background artwork provided by <a target="_blank" rel="noopener" href="https://www.instagram.com/starfur12/?hl=en">Keith Yong</a>.</h4>
  </li>
</ul>