#innerText{
    color: black;
    padding-left: 10px;
    padding: 10px;
}

#profilePage{
    height: 500px;
    /* background-color: lightseagreen; */
}

.profileComponents{
    height: 100px;
}

.headerStyle{
    color: lightseagreen;
    text-decoration: underline;
    text-decoration-color: rgb(191, 207, 191);
    margin: auto;
    padding: 5px;
    font: italic bold 12px/30px;
}

.cardHeader{

}